* {
	box-sizing: border-box;
}
body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
	text-decoration: none;
}
.navbar{
	color: #557c3e;
	font-size: 1.2em;
	font-weight: bold;
	background: #f6b319;
}
.menu-content{
  background: #951C49;
}

@media (min-width: 0px) and (max-width: 767px) {
	.col-xs-12 {
		margin: 2% !important;
		width: 98% !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-ms-6 {
		margin: 2% 1% !important;
		width: 48% !important;
	}
	.col-md-12, .col-ms-12 {
		margin: 0 1% !important;
		width: 98% !important;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		margin: 0 1%;
		width: 31% !important;
	}
}


